<?xml version='1.0'?>

<launch>
    <!-- Input Arguments -->
    <arg name="controller_type" default="stanley" />
    <arg name="path_type" default="circular" /> <!-- Type of path: 'straight', 'circular', 'lane_change', 'infinity' -->

    <!-- Include Path Planning Package -->
    <include file="$(find path_planning_pkg)/launch/path_planner.launch" >
        <arg name="path_type" value="$(arg path_type)" />
    </include>

    <!-- Include Vehicle Control Package -->
    <include file="$(find vehicle_control_pkg)/launch/vehicle_control.launch" >
        <arg name="controller_type" value="$(arg controller_type)" /> <!-- "teleop_keyboard" or "open_loop" or "stanley"-->
    </include>
    
</launch>
