<?xml version='1.0'?>

<launch>
    <!-- Input Arguments -->
    <arg name="controller_type" default="teleop_keyboard" /> <!-- "teleop_keyboard" or "open_loop"-->
    <arg name="traj_topic_name" default="/path_planner/trajectory" />
    <arg name="steering_topic_name" default="/SteeringAngle" />
    <arg name="throttle_topic_name" default="/cmd_vel" />
    <arg name="brakes_topic_name" default="/brakes" />
    <arg name="steering_max" default="0.5236" />
    <arg name="velocity_max" default="33.33" />
    <arg name="velocity_reverse_max" default="2.0" />
    <arg name="sample_time" default="0.1" />

    <!-- Launch Teleop Keyboard Controller -->
    <include file="$(find vehicle_control_pkg)/launch/teleop_keyboard_controller.launch" if="$(eval controller_type == 'teleop_keyboard')">
        <arg name="steering_topic_name" value="$(arg steering_topic_name)" />
        <arg name="throttle_topic_name" value="$(arg throttle_topic_name)" />
        <arg name="brakes_topic_name" value="$(arg brakes_topic_name)" />
        <arg name="steering_max" value="$(arg steering_max)" />
        <arg name="velocity_max" value="$(arg velocity_max)" />
        <arg name="velocity_reverse_max" value="$(arg velocity_reverse_max)" />
        <arg name="sample_time" value="$(arg sample_time)" />
    </include>
    
    <!-- Launch Open Loop Controller -->
    <include file="$(find vehicle_control_pkg)/launch/open_loop_controller.launch" if="$(eval controller_type == 'open_loop')">
        <arg name="traj_topic_name" value="$(arg traj_topic_name)" />
        <arg name="steering_topic_name" value="$(arg steering_topic_name)" />
        <arg name="throttle_topic_name" value="$(arg throttle_topic_name)" />
        <arg name="velocity_max" value="$(arg velocity_max)" />
        <arg name="sample_time" value="$(arg sample_time)" />
    </include>

</launch>